* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, serif;
    background-color: #020303;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 30px 0 30px 0;
}

.logo {
    vertical-align: middle;
}

.logo-txt {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    width: 59px;
    vertical-align: middle;
}

.menu {
    margin-left: 281px;
    display: inline-block;
}

.menu-items {
    display: inline-block;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: rgb(253, 239, 213);
    padding-bottom: 6px;
    margin-right: 59px;
}

.menu-items:hover {
    color: rgb(255, 175, 24);
    border-color: rgb(255, 175, 24);
}

.menu-items a:hover {
    line-height: 1.2;
    color: rgb(255, 175, 24);
}

.sushi {
    padding: 123px 0 125px 0;
}

.sushi-info,
.sushi-image {
    display: inline-block;
    vertical-align: bottom;
}

.sushi-image {
    margin-bottom: -42px;
}

.sushi.container {
    font-size: 0;
}

.sushi-title {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
    max-width: 564px;
}

.orange {
    color: rgb(255, 175, 24);
}

.feature {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 81px;
}

.feature img {
    vertical-align: middle;
}

.feature-items.second-feature {
    margin-left: 99px;
}

.feature-text {
    margin-left: 10px;
}

.button {
    width: 224px;
    background-color: #ffaf18;
    border: 0;
    font-size: 16px;
    color: rgb(2, 3, 3);
    font-weight: bold;
    padding: 22px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 96px;
}

.button:hover {
    box-shadow: 0 10px 40px -10px #ffaf18;
}

.catalog {
    padding: 120px 0 120px 0;
}

.catalog-title {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
}

.product-catalog {
    font-size: 0;
    margin-left: -12px;
    margin-right: -12px;
}


.product-catalog-item {
    background-color: #fff;
    display: inline-block;
    max-width: 282px;
    max-height: 354px;
    text-align: center;
    padding: 8px 15px 12px 15px;
    margin: 12px;
    border: 5px solid #fff;
    box-sizing: border-box;
}

.product-catalog-item img {
    display: inline-block;
    margin-bottom: 15px;
}

.product-catalog-item.orange-border {
    border: 5px solid #ffaf18;
}

.product-catalog-item:hover {
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.373);
}

.item-title {
    font-size: 18px;
    color: rgb(24, 26, 26);
    font-weight: bold;
    margin-bottom: 15px;
}

.item-description {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    height: 53px;
    margin-bottom: 15px;
}

.korzina {
    display: inline-block;
    font-size: 16px;
    color: rgb(2, 3, 3);
    font-weight: bold;
    text-decoration: none;
    width: 242px;
    background-color: #ffaf18;
    border-radius: 25px;
    border: 0;
    padding: 17px 0;
    margin-top: auto;
}



.korzina:hover {
    box-shadow: 0 10px 40px -10px #ffaf18;
}

.ivan {
    padding: 120px 0 67px 0;
}

.ivan-text,
.ivan-image {
    display: inline-block;
    vertical-align: bottom;
}

.ivan-title {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.286;
    width: 386px;
    margin-bottom: 72px;
}

.about-ivan {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    width: 384px;
    margin-bottom: 100px;
}

.read {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.4;
    width: 385px;
    margin-bottom: 40px;
}

.link-to-read {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/onigiri.png) white center no-repeat;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}


.link-to-read.first-link {
    background: url(../images/onigiri.png) white center no-repeat;
}

.link-to-read.middle-link {
    background: url(../images/sushi-read.png) white center no-repeat;
    margin: 0 40px 0 40px;
}

.link-to-read.last-link {
    background: url(../images/tuna-read.png) white center no-repeat;
}

.link-to-read:hover {
    box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.5);
}

.link-to-read:visited {
    background-color: #bebebe;
}

.link-to-read:active {
    background-color: #ffaf18;
}


.footer {
    padding: 30px 0 30px 0;
    background-color: black;
}

.rights {
    font-size: 12px;
    color: rgb(44, 44, 44);
    margin-left: 390px;
}